:root {
    --app--lighter: #FF6347;
    --app--lighter: #FF5733;
    --app--primat: #F2431D;
    --app-dark: #E43712;
    --app--secondary: #FFC107;
    --navbar--height: 60px;
    --tabbar--height: 60px;
}


html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.status-bar-safe-area {
    display: none;
}

.bg-app-lighter{
    background-color var(--app--lighter);
}



@supports (-webkit-touch-callout: none) {
    .status-bar-safe-area {
        display: flex;
        position: sticky;
        top: 0;
        height: env(safe-area-inset-top);
        background-color: #f7f7f7;
        width: 100%;
        z-index: 1;
    }
}
